---
layout: default
---

<div class="row">
  <div class="twelve columns">
    <header class="category">
      <small>Altcointrading.de | {{ site.time | date: "%c" }} </small>
    </header>
  </div>
</div>

  <div class="row">
   <div class="column" style="margin-top:0">

      {% for post in site.posts offset: 0 limit: 3 %}
      {% unless post.tags contains 'hidden' %}
        <h4 class="normaltitle">
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
          <small>{{ post.date | date: "%d.%m.%Y" }}</small>
        </h4>
        <p>
          {{ post.excerpt }}
        </p>
        {% endunless %}
      {% endfor %}

    </div>
  </div>
  <div class="row">
    <div class="eight columns" style="margin-top: 5%">
      <hr>
      <small class="separate">Featured</small>
      {% for post in site.posts offset: 0 %}
        {% if post.tags contains 'top' limit: 1 %}
        <h6>
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
          <small>{{ post.date | date: "%d.%m.%Y" }}</small>
          <br>
        </h6>
        <p>
          {{ post.excerpt }}
        </p>
        {% endif %}
      {% endfor %}
      <!-- ad
      {% banner /assets/images/ecoin.jpg https://www.e-coin.io/?ref=8dc1bab8343c41049b4cb7a2f1e47b4e %}
    -->
      <br>

      {% for post in site.posts offset: 0 limit: 5 %}
        {% if post.tags contains 'featured' %}
        <h6>
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
          <small>{{ post.date | date_to_string }}</small>
          <br>
        </h6>
        <p>
          {{ post.excerpt }}
        </p>
        {% endif %}
      {% endfor %}

    </div>
    <div class="four columns" style="margin-top: 5%">
      <hr>
      <small class="separate">Interessant</small>

        {% include interessant.html %}

   </div>
  </div>
