<div class="container">
  <div class="row">
    <div class="one-third column maintitlebox">
      <h1 class="maintitle"><a href="/">AltcoinTrading</a></h1>
    </div>
    <div class="two-thirds column">
      <div class="ad_right">
        <iframe data-aa='128868' src='https://ad.a-ads.com/128868?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <nav>
      <ul class="nav">
        {% for tag in site.categories %}
        <li><a href="/{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
