<article class="aside">
  <header>
    <h4 class="normaltitle">
      <strong>Trezor Hardware-Wallet</strong><br>
    für Bitcoin und Altcoins
    </h4>

  </header>
  <a href="https://buytrezor.com/" onmousedown="this.href='https://buytrezor.com?a=fany@tutanota.com';" rel="nofollow" target="_blank">
    <img width="300" height="auto" src="/assets/images/trezor.jpg" alt="Trezor Hardware Bitcoin und Altcoin Wallet" />
  </a>
  <footer class="longad">
    <!-- something -->
  </footer>
</article>
<article class="aside">
<div id="hitbtc-ticker" class="hit-medium" data-hue="-26" data-refId="569e7b123be70" style="float: left;margin-right: 15px;"></div>
<script type="text/javascript">
    (function() {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "https://hitbtc.com/get_widget?pair=ltcbtc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();
     // You can construct widget dynamically by calling hitbtc.widget("myDiv", "medium", -26, "ltcbtc", "569e7b123be70");
</script>
</article>
