<article class="main">
  <header>
Summertime Sadness is BS
  </header>
    <!-- something -->
  <footer class="longad">
    <!-- something -->
  </footer>
</article>
<article class="main">
  <header>
    <!-- something -->
  </header>
    <!-- something -->
  <footer class="longad">
    <!-- something -->
  </footer>
</article>
<!-- 300x250 -->
<iframe data-aa='128867' src='https://ad.a-ads.com/128867?size=300x250' scrolling='no' style='width:300px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
