<article class="aside">
  <header>
    <h4 class="normaltitle">
      <strong>Trezor Hardware-Wallet</strong><br>
    für Bitcoin und Altcoins
    </h4>

  </header>
  <a href="https://buytrezor.com/" onmousedown="this.href='https://buytrezor.com?a=fany@tutanota.com';" rel="nofollow" target="_blank">
    <img width="300" height="auto" src="/assets/images/trezor.jpg" alt="Trezor Hardware Bitcoin und Altcoin Wallet" />
  </a>
  <footer class="longad">
    <!-- something -->
  </footer>
</article>
<article class="aside">
<div id="hitbtc-ticker" class="hit-medium" data-hue="-26" data-refId="569e7b123be70" style="float: left;margin-right: 15px;"></div>
<script type="text/javascript">
    (function() {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "https://hitbtc.com/get_widget?pair=ltcbtc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();
     // You can construct widget dynamically by calling hitbtc.widget("myDiv", "medium", -26, "ltcbtc", "569e7b123be70");
</script>
</article>


<!-- 300x250 -->
<iframe data-aa='128867' src='https://ad.a-ads.com/128867?size=300x250' scrolling='no' style='width:300px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>



<article class="aside">
  <div style="text-align:left">
    <div style="width:300px;height:210px;background:#000000;">
      <a href="https://dc-charts.com/chart_btc.php?ex=7&amp;cu=0" target="_blank">
      <img style="display:block;width:300px;height:210px;margin:0;padding:0;border:0;" src="https://dc-charts.com/fw/bitfinex_btc_usd_7days_3.png" alt="Bitcoin to USD price on Bitfinex | dc-charts.com" title="Bitcoin to USD price on Bitfinex | dc-charts.com" /></a></div>
    </div>
</article>
