/* structure */
.container {
    max-width: 1025px;
    background: #fff;
    padding: 0 20px;
}
.text-center{text-align: center}
#f{margin-bottom: 10px;}
/* colors */
body{color:#3C3846;background:#eeedf3;}
a{color: #575068;}
  a:hover{color:#A2A0AF}

#cookie-bar-prompt-content a, #cookie-bar a, #cookie-bar-prompt-content span,
#cookie-bar-prompt-content a:hover, #cookie-bar a:hover {
    color:#575068!important;
  }
a#cookie-bar-button {
  background-color: #3C3846!important;color:white!important;
  }
header.category small{color:#575068;border-radius: 0;padding:0;padding-left: 7px;}
header.category{margin-bottom: 25px;margin-top:-1px;border-top: 1px solid rgb(87, 80, 104);
  border-bottom: 1px solid rgb(87, 80, 104);padding:8px 10px}
header.posttitle{padding: 30px 20px 15px;background:#A2A0AF;color:white;margin-bottom: 35px;}
header.posttitle .meta{font-size: 80%;text-transform: uppercase;line-height: 1;}
/* font*/
h1,h2,h3,h4,h5,h6{font-family: 'Merriweather'}
h1{font-size:2.8rem}
h2{font-size:2.6rem}
h3{font-size:2.4rem}
h4{font-size:2.2rem}
h5{font-size:2rem}
h6{font-size:1.8rem}

/* header */
.maintitlebox {margin-top: 0;padding: 10px 20px;background: #3C3846;color: #fff;min-height: 60px;
  position: fixed;
  z-index: 999;
  max-width: 985px;}
.maintitle{font-weight: 800;text-align: center;margin-top: 30px;;font-size: 2.2em;}
.maintitle a, .maintitle a:hover{color:white}

header.classie{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
header.smaller{font-size: 1rem;margin: -10px;}


.normaltitle, article.main h3 {font-size: 130%!important;}

header.nav{margin-top: 145px;margin-bottom:0;}
header.nav small, header.nav small a{color: rgb(162, 160, 175);}

nav {margin-top: 135px;}
nav ul {list-style-type: none;margin-bottom:0;}
nav ul li{padding: 20px 10px 0 0;display: inline-block;}

hr {border-top: 1px solid #A2A0AF;margin-top: 1rem;}


small {float:none!important;}
small.separate {
  background: #A2A0AF;
  text-align: center;
  border-radius: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 8px 10px;
  float: right!important;
  color: white;
  position: relative;
  top: -35px;
}

.callout {
    background: #A2A0AF;
    border-radius: 4px;
    padding: 20px 40px;
    text-align: center;
    color: white;
}
.callout .button, .callout.button:hover {
    border-color: white;
    outline: 0;
    color: #0fa0ce;
    background: white;
}

small {
    /*background: #EEE;*/
    text-align: center;
    border-radius: 4px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 8px 10px;
    float:right;
}
a {text-decoration: none;}
.main img {
    border: 0;
    max-width: 100%;
    border-radius: 0px;
    box-shadow: 0 2px 6px RGBA(60, 56, 70, 0.25);
}

footer.footer{margin-top: 60px;}

/* ads*/
.ad_right {text-align: right;margin-right: -10px;}
.banner{}
  .banner img{max-width: 100%;box-shadow: none;}
#hitbtc-ticker canvas, #hitbtc-ticker img{width:300px!important;margin-top: -4px;}
/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



  /* firefox */
  @-moz-document url-prefix() {
    ul {
        list-style: circle;
        margin-left: 15px;
    }
  }
